<div id="sidebar" class="sidebar">
  <div class="sidebar-content">
    <div class="sidebar-menu">

      <ul>

        <li class="header-menu d-flex align-items-center justify-content-between">
          Mazos 
          <button id="btnDeckForm" type="button" class="btn btn-flat mb-1 btn-outline-secondary" title="Crear Mazo" data-toggle="modal" data-target="#modalFormNewMazo">
            <i class="ti-plus"></i>
          </button>
        </li>

        <div id="cDecksList">

        </div>

      </ul>

    </div>
  </div>
</div>