<div class="header">
  <div class="header-bar">
    <div class="brand">
      <a href="index.html" class="logo"><span class="text-carolina">Study</span>Cards</a>
      <a href="index.html" class="logo-sm text-carolina" style="display: none;">siQ</a>
    </div>
    <div class="btn-toggle">
      <!-- <a href="#" class="toggle-sidebar-btn"><i class="ti-arrow-circle-left"></i></a> -->
      <a href="#" class="slide-sidebar-btn" style="display: none;"><i class="ti-menu"></i></a>
    </div>
    <div class="navigation d-flex">


    </div>
  </div>
</div>